@import "config";

.Palette {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.Color {
  input[type="radio"] {
    display: none;
  }
  label {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
  }
}

.ColorInPalette {
  input[type="radio"]:checked + label {
    transform: scale(1.5);
  }
}

.ColorItem {
  input[type="radio"]:checked {
    & + label {
      transform: scale(1.5);
    }
  }
}

.ColorList {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.2rem;
  }
}

.ColorRow {
  .color-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2rem;
  }

  margin-bottom: 0.2rem;

  .color-info {
    margin-top: 1rem;

  }
}
